.hidden {
    display: none;
}

.active {
    display: block;
}

.fixed {
    position: fixed;
    z-index: 999;
    background-color: lightblue;
}

.section--hidden {
    opacity: 0;
    transform: translateY(8rem);
}