@mixin navBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 9999;
    width: 4rem;
    height: 4rem;
}

@mixin menuBtn {
  position: relative;
  width: 3rem;
  height: 0.3rem;
  background-color: currentColor;
  transition: all 0.5s ease-in-out;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 3rem;
    height: 0.3rem;
    background-color: currentColor;
    top: 0;
    left: 0;
    transition: all 0.5s ease-in-out;
  }

  &::before {
    transform: translateY(-1rem);
  }

  &::after {
    transform: translateY(1rem);
  }
}
