// ### Primary

// - Soft red: hsl(7, 99%, 70%)
// - Yellow: hsl(51, 100%, 49%)
// - Dark desaturated cyan (graphic design text): hsl(167, 40%, 24%)
// - Dark blue (photography text): hsl(198, 62%, 26%)
// - Dark moderate cyan (footer): hsl(168, 34%, 41%)

// ### Neutral

// - Very dark desaturated blue: hsl(212, 27%, 19%)
// - Very dark grayish blue: hsl(213, 9%, 39%)
// - Dark grayish blue: hsl(232, 10%, 55%)
// - Grayish blue: hsl(210, 4%, 67%)
// - White: hsl(0, 0%, 100%)


// Primary Colors
$color-soft-red: hsl(7, 99%, 70%);
$color-yellow: hsl(51, 100%, 49%);
$color-dark-desaturated-cyan: hsl(167, 40%, 24%);
$color-dark-blue: hsl(198, 62%, 26%);
$color-dark-moderate-cyan: hsl(168, 34%, 41%);
$color-footer-light-cyan: hsl(166, 44%, 74%);
$color-topbar-light-blue: hsl(200, 100%, 62%);


// Netural
$color-darkest-desaturated-blue: hsl(212, 27%, 19%);
$color-darker-grayish-blue: hsl(213, 9%, 39%);
$color-dark-grayish-blue: hsl(232, 10%, 55%);
$color-grayish-blue: hsl(210, 4%, 67%);
$color-white: hsl(0, 0%, 100%);