.gallery {
    display: grid;
    transition:  all 0.3s;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));


    @media only screen and (max-width:800px) {
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    }

    @media only screen and (max-width:576px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media only screen and (max-width:375px) {
        grid-template-columns: 1fr;
    }


    &__img {
        width: 100%;
        height: auto;
    }
}